div.header-wrap {
  display: none;
}

hr.header-rule {
  display: none;
}

div.desktop-visible div.subnav-container {
  display: none;
}

div.tablet-visible, div.mobile-visible {
  div#page-nav {
    display: none;
  }
}

nav.width-container ul li {
  a {
    font-size: 20px;
    font-family: 'Verb W01 Md', Helvetica, Arial, sans-serif;
    color: $theme-color-1;
    text-transform: none;
  }
}

@media all and (max-width: 640px) {
  nav.width-container ul li {
    text-align: right;
    a {
      font-size: 14px;
      color: #fff;
      &:hover {
        color: $theme-color-1;
      }
    }
    ul li a{
      font-size: 12px;
      color: #fff;
    }
  }
}
