// homepage areas
body.homepage {
  div.text-content {
    margin-top: 35px;
    padding:35px;
    background-color: $theme-color-1;
    h1 {
      line-height: 55px;
      color: #fff;
    }
    div.profile-photo {
      text-align: center;
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
  // sections
  div.homepage-section-container {
    
  }
}
@media screen and (max-width: 640px) {
  body.homepage {
    div.text-content {
      padding:20px;
      h1 {
        line-height: 35px;
      }
    }
    div.profile-photo {
      img {
        width: 280px;
        height: 280px;
      }
    }
  }
}

// navigation and header overrides
div.nav-wrap {
  border-bottom: 0;
}
div.header-wrap {
  display: none;
}

hr.header-rule {
  display: none;
}

div.desktop-visible div.subnav-container {
  display: none;
}

div.tablet-visible, div.mobile-visible {
  div#page-nav {
    display: none;
  }
}

nav.width-container ul li {
  a {
    font-size: 20px;
    font-family: 'Verb W01 Md', Helvetica, Arial, sans-serif;
    color: $theme-color-1;
    text-transform: none;
  }
}

ul#topnav.desktop-nav {
  background-color: $theme-color-18;
  margin-top: 40px;
  li {
    padding: 15px 40px;
    a {
      color: #fff;
      &:hover {
        color: $theme-color-1;
      }
    }
    .sub {
      top: 65px;
      left: 50%;
      width: 250px;
      margin-left: -125px;
      background-color: #fff;
      color: $theme-color-18;
      padding: 0;
      text-align: center;
      border-top: 3px solid $theme-color-18;
      border-left: 3px solid $theme-color-18;
      border-right: 3px solid $theme-color-18;
      & > li {
        width: 100%;
        border-bottom: 3px solid $theme-color-18;
        line-height: 31px;
        padding: 0;
      }
      a {
        background: $theme-color-15;
        font-family: $control-font;
        font-size: 16px;
        line-height: 22px;
        padding: 10px 1.5em 10px 1.5em;
        display: inline-block;
        width: 100%;
        text-align: center;
        color: $theme-color-18;
        width: 100%;
        &:hover {
          background: $theme-color-16;
          color: $theme-color-1;
        }
        &:active {
          color: $theme-color-1;
          background: $theme-color-17;
        }
      }
      &:before {
        display: none;
      }
    }
  }
}

@media all and (max-width: 640px) {
  nav.width-container ul li {
    text-align: right;
    a {
      font-size: 14px;
      color: #fff;
      &:hover {
        color: $theme-color-1;
      }
    }
    ul li a{
      font-size: 12px;
      color: #fff;
    }
  }
}
