{% include "breadcrumbs" %}

{% if page.headline.size > 0 %}
<h2 class="headline">{{ page.headline }}</h2>
{% endif %}

<div id="content">
  <div id="intro" class="intro clearfix">
    {% if page.is_homepage? %}
    <div class="row-fluid">
      <div class="span6">
        <div class="profile-photo">
          {% for file in page.attachments %}
            {% if file.file_name contains 'profile' %}
            <img src="{{ file.url }}" class="img-circle">
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="span6">
        <div class="text-content">
          {{ page.basic.content }}
        </div>
      </div>
    </div>
    {% else %}
      <div class="text-content">
        {{ page.basic.content }}
      </div>
    {% endif %}
  </div>

  {% if page.is_homepage? %}
    <div class="row-fluid">
      <div class="span8 offset2">
        <div class="homepage-section-container">
          <h1>Campaign Latest</h1>
          {% subpage "blog" with "blog_latest" %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.tags_count > 0 %}
  <div class="page-tags">
    {% include "page_tags" with page %}
  </div>
  {% endif %}

  {% if page.is_homepage? == true and site.page_tags contains "homepage" %}
    {% tag "homepage" with "homepage_widget" %}
  {% endif %}

  <div class="like-page">
    <strong>Do you like this page?</strong>
    {% include "like_page" %}
  </div>

  {% if page.show_stream? %}
  {% include "page_stream" %}
  {% endif %}

</div>
